<style>
 .header__logo-img{
    width: {{settings.logo_width}}px;
 }
</style>
<header class="header relative bg-white flex items-center justify-between p-4 shadow-md">
    <div class="flex items-center gap-x-4">
        <span class="hamburger-menu">
          {% render 'icons' , icon: 'hamburger' %}
        </span>
        <a href="{{ routes.root_url }}" class="absolute md:relative left-[50%] md:left-0 translate-x-[-50%] md:translate-x-[0]">
            {%- if settings.logo != blank -%}
               <img class="header__logo-img" src="{{ settings.logo | image_url: width: settings.logo_width}} " alt="logo">
            {%- else -%}
              <span>{{ shop.name }}</span>
            {%- endif -%}
          </a>
    </div>
    <div class="desktop-searchbar hidden md:flex relative w-56 lg:w-80" onclick="showOverlay()">
        <input type="search" class="p-3 lg:p-2.5 rounded text-xs font-medium w-56 lg:w-80 lg:text-sm" placeholder="{{section.settings.search_box_placeholder_text}}">
        <span class="absolute right-2 top-1 lg:left-72 lg:top-1">
          {% render 'icons' , icon: 'search' %}
        </span>
    </div>
    <div class="flex items-center gap-x-2 sm:gap-x-4">
        <localization-form class="hidden md:block">
            {% form 'localization' %}
                <div class="disclosure md:relative">
                    <button type="button" class="disclosure__button" aria-expanded="false" aria-controls="CountryList">
                      {{ localization.country.name }} ({{ localization.country.currency.iso_code }}
                      {{ localization.country.currency.symbol }})
                      <span class="inline-flex">
                        {% render 'icons' , icon: 'arrow-bottom' %}
                      </span>
                    </button>
                  <ul id="CountryList" role="list" class="disclosure__list absolute z-10 top-8 w-full shadow-[0px_1px_6px_0px_rgba(0,0,0,0.3)] bg-white p-2" hidden>
                    {% for country in localization.available_countries %}
                      <li class="disclosure__item first:mt-0 mt-2" tabindex="-1">
                        <a
                          href="#"
                          {% if country.iso_code == localization.country.iso_code %}
                            aria-current="true"
                          {% endif %}
                          data-value="{{ country.iso_code }}"
                        >
                          {{ country.name }} ({{ country.currency.iso_code }}
                          {{ country.currency.symbol }})
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                  <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
                </div> 
            {% endform %}
        </localization-form>
        <span class="md:hidden" onclick="showOverlay();handleSearchVisibility()">
          {% render 'icons' , icon: 'search' %}
        </span>
        <span onclick="showOverlay()">
          {% render 'icons' , icon: 'cart' %}
        </span>
    </div>
    <div class="mobile-search-bar absolute inset-0 outline-none border-none z-10">
      <input class="w-full h-full px-4 outline-none border-none" type="search" name="" id="" placeholder="{{section.settings.search_box_placeholder_text}}">
      <span class="absolute right-4 top-3.5">
        {% render 'icons' , icon: 'search' %}
      </span>
      <span class="absolute right-14 top-[18px]" onclick="hideOverlay();handleSearchVisibility()">
        {% render 'icons' , icon: 'close' %}
      </span>
    </div>
</header>
<nav class="navbar fixed top-0 bottom-0 w-80 lg:w-[22rem] h-full bg-white shadow-lg p-4 overflow-y-auto z-10 duration-500 md:duration-1000">
  <span class="hide-navbar flex justify-end">
    {% render 'icons' , icon: 'close' %}
  </span>
  <ul class="menu my-4 font-bold">
    {%- for link in section.settings.menu.links -%}
      <li class="menu-link first:border-t">
        {%- if link.links != blank -%}
          <div>
            <div class="flex items-center justify-between py-4 border-b">
              <span>
                {{- link.title | escape -}}
              </span>
              {% render 'icons' , icon: 'arrow-bottom' %}
            </div>
            <div class="wrapper">
              <ul class="dropdown-child">
                {%- for childlink in link.links -%}
                  <li class="menu-link">
                    {%- if childlink.links == blank -%}
                      <div class="py-4 border-b ml-2">
                        <a href="{{ childlink.url }}">
                          {{ childlink.title | escape }}
                        </a>
                      </div>
                    {%- else -%}
                      <div class="flex items-center justify-between py-4 border-b ml-2">
                        <span>{{ childlink.title | escape }}</span>
                        {% render 'icons' , icon: 'arrow-bottom' %}
                      </div>
                      <div class="wrapper">
                        <ul class="dropdown-grandchild">
                          {%- for grandchildlink in childlink.links -%}
                            <li class="menu-link py-4 border-b ml-6">
                              <a href="{{ grandchildlink.url }}">
                                {{ grandchildlink.title | escape }}
                              </a>
                            </li>
                          {%- endfor - %}
                        </ul>
                      </div>
                    {%- endif -%}
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        {%- else -%}
          <div class="py-4 border-b">
            <a href="{{ link.url }}">
             <span>
              {{- link.title | escape -}}
             </span>
            </a>
          </div>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
<script>

 
</script>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "search_box_placeholder_text",
      "label": "Search box placeholder text",
      "default": "What are you looking for?"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}

